<div class="path">
    <a class='path-color' href="/users">Climbers</a> /
    <a class='path-color' href="/users/{{user._id}}/">{{user.username}}</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations">Climbing Destinations</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations/{{destination._id}}/">{{destination.name}}</a> / Add Climb
</div>

<h4>Add Climb</h4>

<div>
    <form action="/users/{{user._id}}/destinations/{{destination._id}}/climbs" method="POST">
        <div>
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" required/>
            </div>


            <div>
                <label for="type">Type of Climb (Ex: Boulder, Sport Climb, Trad Climb): </label>
                <input type="text" name="type" required/>
            </div>

            <div>
                <label for="grade">Difficulty Rating </label>
                <input type="text" name="state" />
            </div>
            <div>
                <label for="gearNeeded">What gear if any is needed to climb?</label>
                <input type="text" name="gearNeeded">
            </div>

            <div>
                <label for="completed">Successfully Climbed? </label>
                <input type="text" name="completed" />
            </div>
            
            <div>
                <label for="description">Provide some brief details about the climb that could help others find/climb it </label>
                <input type="text" name="description" />
            </div>

            <div>
                <label for="photo">Photo: </label>
                <input type="text" name="photo" value='http://pmdvod.nationalgeographic.com/NG_Video_DEV/970/971/adv-beyond-the-edge-honnold_480x360.jpg'
                    required />
            </div>

            <button class="btn waves-effect waves-light button-colors" type="submit" name="action">Add Climb</button>

        </div>
    </form>
    <button class="btn waves-effect waves-light button-colors">
        <a href="/users/{{user._id}}/destinations/{{destination._id}}">Cancel</a>
    </button>
</div>