<div class="path">
    <a class='path-color' href="/users">Climbers</a> /
    <a class='path-color' href="/users/{{user._id}}/">{{user.username}}</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations">Destinations</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations/{{destination._id}}">{{destination.name}}</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations/{{destination._id}}/climbs/{{climb._id}}">{{climb.name}}</a>
</div>


<div class='top-buttons'>
    <div class='top-button'>
        <a class="button-colors" href="/users/{{user._id}}/destinations/{{destination._id}}/climbs/{{climb._id}}/edit">
            <button class="btn waves-effect waves-light button-colors">
                Edit Climb
            </button>
        </a>
    </div>

    <div class='top-button'>
        <a class="button-colors" href="/users/{{user._id}}/destinations/{{destination._id}}/climbs/{{climb._id}}/delete">
            <button class="btn waves-effect waves-light button-colors warning">
                Remove Climb
            </button>
        </a>
    </div>
</div>



<div>
    <div>{{climb.name}}</div>
    <div>Type: {{climb.type}}</div>
    <div>Grade: {{climb.grade}}</div>
    <div>Status:  {{climb.completed}}</div>
    <div>Gear Needed: {{climb.gearNeeded}}</div>
    <div>Description: {{climb.description}}</div>
</div>
<div class='profile-photo-container'>
    <img class="profile-photo card-shadow" src="{{climb.photo}}" alt="Climber's Profile Photo">
</div>