<div class="path">
    <a class='path-color' href="/users">Climbers</a> /
    <a class='path-color' href="/users/{{userId}}"> {{username}}</a> / 
    <a class='path-color' href="/users/{{userId}}/destinations"> {{pageTitle}}</a>
</div>

<div class='photos-container'>

    {{#each destinations}}
    <div class='index-profile-card card-shadow ppr paper-raise tossing'>
        <a class='path-color' href="/users/{{../userId}}/destinations/{{this._id}}">

            <img class='destination-photo index-photo' src="{{this.photo}}" alt='climber\' s photo '>
            <div>
                {{this.name}}
            </div>
          
            <div>
                {{this.city}} {{this.state}}
            </div>
        </a>  
    </div>
    {{/each}}
</div>

<div class='bottom-buttons '>
    <a class="button-colors" href="/users/{{userId}}/destinations/new">
        <button class="btn waves-effect waves-light button-colors">
            Add Destination
        </button>
    </a>
</div>