<div class="path">
    <a class='path-color' href="/users">Climbers</a> /
    <a class='path-color' href="/users/{{user._id}}/">{{user.username}}</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations">Destinations</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations/{{destination._id}}"> {{destination.name}}</a>
</div>

<h4>{{destination.name}}</h4>
{{destination.description}}

<div>
    {{#each destination.climbs}}
    <div class='index-profile-card card-shadow'>
        <a class='path-color' href="/users/{{../user._id}}/destinations/{{../destination._id}}/climbs/{{this.name}}">
            <div>
                <img class="index-photo img-border-radius" src="{{this.photo}}" alt="photo of climbing route">
            </div>
            <div>{{this.name}}</div>
            <div>{{this.grade}}</div>
            <div>{{this._id}}</div>
        </a>
    </div>
    {{/each}}
</div>

<div class='bottom-buttons'>
    <div class='bottom-button'>
        <a class="button-colors" href="/users/{{user._id}}/destinations/{{destination._id}}/climbs/new">
            <button class="btn waves-effect waves-light button-colors">
                Add Climb
            </button>
        </a>
    </div>
    <div class='bottom-button'>
        <a class="button-colors" href="/users/{{user._id}}/destinations/{{destination._id}}/edit">
            <button class="btn waves-effect waves-light button-colors">
                Edit Info
            </button>
        </a>
    </div>

    <div class='bottom-button'>
        <a class="button-colors" href="/users/{{user._id}}/destinations/{{destination._id}}/delete">
            <button class="btn waves-effect waves-light button-colors warning">
                Remove Destination
            </button>
        </a>
    </div>
</div>