<div class="path">
    <a class='path-color' href="/users">Climbers</a> / 
    <a class='path-color' href="/users/{{user._id}}/">{{user.username}}</a> / 
    <a class='path-color' href="/users/{{user._id}}/destinations">Destinations</a> /
    <a class='path-color' href="/users/{{user._id}}/destinations/{{destination._id}}"> {{destination.name}}</a>
</div>