<div class="path">
    >
    <a class='path-color' href="/users"> Climbers</a> > 
    <a class='path-color' href="/users/{{user._id}}">{{user.username}}</a> >
    <a class='path-color' href="/users/{{user._id}}/edit">Edit Profile</a>
</div>
<div>
    <div class='form-div'>
        <form action="/users/{{user._id}}?_method=PUT" method="POST">

            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" value="{{user.username}}" required/>
            </div>

            <div>
                <div>
                    <label for="email">Email: </label>
                    <input type="text" name="email" value="{{user.email}}" required/>
                </div>

                <div>
                    <label for="age">Age: </label>
                    <input type="number" name="age" value="{{user.age}}" />
                </div>

                <div>
                    <label for="gender">Gender: </label>
                    <input type="text" name="gender" value="{{user.gender}}" />
                </div>
                <div>
                    <label for="likesToClimb">What Is Your Favorite Style of Climbing? </label>
                    <input type="text" name="likesToClimb" value="{{user.likesToClimb}}" />
                </div>

                <div>
                    <label for="photo">Photo: </label>
                    <input type="text" name="photo" value='{{user.photo}}' required />
                </div>
                <div class='bottom-buttons'>
                    <div class='bottom-button'>
                        <button class="btn waves-effect waves-light button-colors" type="submit" name="action">Submit</button>
                    </div>
                    <div class='bottom-button'>
                        <a class="btn waves-effect waves-light button-colors" href="/users">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>