<div class="path">
    >
    <a class='path-color' href="/users">Climbers</a>
</div>
<div class='photos-container'>
    {{#each users}}
    <div class='index-profile-card card-shadow tossing'>
        <a class='path-color' href="/users/{{this._id}}">
            <div class='index-photo-div'>
                <img class='climber-photo index-photo tossing-img' src="{{this.photo}}" alt='climber\' s photo '>
            </div>
            <div class='index-label-color '>
            {{this.username}}
            </div>
        </a>    
        <div class='index-label-color '>
            {{this.age}} {{this.gender}}
        </div>
        <div class='partner-status-color'>{{this.climbingPartnerStatus}}</div>
    </div>
    {{/each}}
</div>

<div>
    <a class="button-colors" href="/users/new">
        <button class="btn waves-effect waves-light button-colors">
            New Climber
        </button>
    </a>
</div>