<div class="top-routes-view">
  <a href="/users">Climbers</a>
</div>
<div>
    {{#each users}}
    <a href="/users/{{this._id}}">
        <div class='index-photo-div'>
            <img class='climber-photo index-photo' src="{{this.photo}}" alt='climber\'s photo'>
        </div>
        <div>
            {{this.username}}
        </div>
    </a>    
        <div>
            {{this.age}} - {{this.gender}}
        </div>
    {{/each}}
</div>
<div class='bottom-of-page-button'>
    <a class='button-text' href="/users/new">Add New Climber</a>
</div>