<div class="path">
    <a class='path-color' href="/users">Climbers</a>
</div>
<div>
    {{#each users}}
    <div class='index-profile-card card-shadow'>
        <a class='path-color' href="/users/{{this._id}}">
            <div class='index-photo-div'>
                <img class='climber-photo index-photo' src="{{this.photo}}" alt='climber\' s photo '>
            </div>
            <div class='index-label-color '>
            {{this.username}}
            </div>
        </a>    
        <div class='index-label-color '>
            {{this.age}} {{this.gender}}
        </div>
        </div>
    {{/each}}
</div>

<div>
    <a class="button-colors" href="/users/new">
        <button class="btn waves-effect waves-light button-colors">
            New Climber
        </button>
    </a>
</div>