<div class="top-routes-view">
    <a href="/users">Climbers</a>
</div>
<div>
    {{#each users}}
    <a href="/users/{{this._id}}">
        <div class='index-photo-div'>
            <img class='climber-photo index-photo' src="{{this.photo}}" alt='climber\' s photo '>
        </div>
        <div>
            {{this.username}}
        </div>
    </a>    
        <div>
            {{this.age}} - {{this.gender}}
        </div>
    {{/each}}
</div>

<button class="btn waves-effect waves-light button-colors">
    <a href="/users">Cancel</a>
</button>