<div class="top-routes-view">
  <a href="/users">Home</a> / {{user.username}}'s User Page
</div>

<div class='climber-info-container'>
    <div>{{user.username}}</div>
    <div>E-mail: {{user.email}}</div>
    <div>Age: {{user.age}}</div>
    <div>Lives in: {{user.livesIn}}</div>
    <div>Likes to Climb: {{user.likesToClimb}}</div>
</div>
<div class='profile-photo-container'>
    <img src="{{user.photo}}" alt="Climber's Profile Photo">
</div>