<div class="path">
    <a class='path-color' href="/users">Home</a> / {{user.username}}

</div>


<div class="col s10 m7">
    <h4 class="header">{{user.username}}</h4>
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{user.photo}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div>E-mail: {{user.email}}</div>
                <div>Age: {{user.age}}</div>
                <div>Lives in: {{user.livesIn}}</div>
                <div>Favorite type of climbing: {{user.likesToClimb}}</div>
                <div>Skill level: {{user.skillLevel}}</div>
                <div>Climbing partner status: {{user.climbingPartnerStatus}}</div>
            </div>
            <div class="card-action">
                <a href="/users/{{user._id}}/destinations">My favorite climbing spots</a>
            </div>
        </div>
    </div>
</div>
<div class='bottom-buttons'>
    <div class='bottom-button'>
        <a class="button-colors" href="/users/{{user._id}}/edit">
            <button class="btn waves-effect waves-light button-colors">
                Edit Info
            </button>
        </a>
    </div>

    <div class='top-button'>
        <a class='button-colors' href="/users/{{user._id}}/delete/">
            <button class="btn waves-effect waves-light button-colors warning">
                Delete Climber
            </button>
        </a>
    </div>
</div>
